{% extends 'layout.html' %}
{% block content %}
<div class="container">
<br/><h3>Self Tracking</h3>
<hr/>
<p>What happens when people turn their everyday experience into data. In this application, a user can record data in a tabular form. The registration is done immediately. Therefore, self-tracking of data can be a valuable source of information today, as smartphones, smartwatches and other so-called wearables enable a quick and easy data recording.</p>
<p>Application is compatible for Web page, Android and IOS devices.</p>
<p>Self Tracking Application is still in development phase.</p>
</div>
{% endblock %}