{% extends 'layout.html' %}
{% block style %}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
select {
    left: 1%;
    right: 1%;
}
{% endblock %}
{% block content %}
<main class="container mt-3">
    <div class="row">
        <!-- Categories -->
        <div class="col-md-6">
            <h4>Add Record</h4>
            <div class="list-group">
            	{% if form %}
	            	<form method='POST' action='' enctype='multipart/form-data'>
					{% csrf_token %}
	                <table>
					{% for field in form %}
					<tr>
					<th>
					{{field.label}} {% if field.field.required %} * {% endif %}
					</th>
					<td>
					{{field}}
					</td>
					</tr>
					{% endfor %}
					</table>
					<hr />
					<button class='btn btn-primary' type="submit" name="NewItem" value="NewItem">Generate</button>
					</form>
					<br/>
					{% for msg in messages %}
				    <p class="{{ msg.tags }}">{{msg}}</p>
				    {% endfor %}
            	{% endif %}
            	<br/>
            </div>
        </div>
        <!-- Top Users -->
        <div class="col-md-6">
            <h4>Interview</h4>
            <ul class="list-group">
                {% if interviews %}
                <form method='POST' action='' enctype='multipart/form-data'>
				{% csrf_token %}
                <div style="overflow-x:auto;">
                	<table>
                	<tr>
                	<th>USER</th>
                	<th>DATE</th>
                	<th>COMPANY</th>
                	<th>ROLE</th>
                	<th>ROUND</th>
                	<th>DESCRIPTION</th>
                	<th>STATUS</th>
                	<th>EDIT</th>
                	</tr>
                	{% for interview in interviews %}
                	<tr>
                    <td>{{interview.user}}</td>
                    <td>{{interview.date}}</td>
                    <td>{{interview.company}}</td>
                    <td>{{interview.role}}</td>
                    <td>{{interview.round}}</td>
                    <td>{{interview.description|linebreaks}}</td>
                    <td>{% if interview.status == False %}In Progress{% else %}Completed{% endif %}</td>
                    <td><button class='btn btn-success' type="submit" name="EditItem" value="{{ interview.id }}">Edit</button></td>
                    </tr>
                    {% endfor %}
                	</table>
                </div>
                </form>
                {% endif %}
            </ul>
            <br />
        </div>
    </div>
</main>
{% endblock %}