{% extends 'layout.html' %}
{% block style %}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
select {
    left: 1%;
    right: 1%;
}
{% endblock %}
{% block content %}
<main class="container mt-3">
    <div class="row">
        <!-- Categories -->
        <div class="col-md-6">
            <h4>Add Record</h4>
            <div class="list-group">
            	{% if form %}
	            	<form method='POST' action='' enctype='multipart/form-data'>
					{% csrf_token %}
	                <table>
					{% for field in form %}
					<tr>
					<th>
					{{field.label}} {% if field.field.required %} * {% endif %}
					</th>
					<td>
					{{field}}
					</td>
					</tr>
					{% endfor %}
					</table>
					<hr />
					<button class='btn btn-primary' type="submit" name="NewItem" value="NewItem">Generate</button>
					</form>
					<br/>
					{% for msg in messages %}
				    <p class="{{ msg.tags }}">{{msg}}</p>
				    {% endfor %}
            	{% endif %}
            	<br/>
            </div>
        </div>
        <!-- Top Users -->
        <div class="col-md-6">
            <h4>To Do</h4>
            <ul class="list-group">
                {% if reminders %}
                <form method='POST' action='' enctype='multipart/form-data'>
				{% csrf_token %}
                <div style="overflow-x:auto;">
                	<table>
                	<tr>
                	<th>USER</th>
                	<th>DATE</th>
                	<th>TITLE</th>
                	<th>DESCRIPTION</th>
                	<th>EDIT</th>
                	</tr>
                	{% for reminder in reminders %}
                	<tr>
                    <td>{{reminder.user}}</td>
                    <td>{{reminder.date}}</td>
                    <td>{{reminder.title|lower|capfirst }}</td>
                    <td>{{reminder.description|linebreaks }}</td>
                    <td><button class='btn btn-success' type="submit" name="EditItem" value="{{ reminder.id }}">Edit</button></td>
                    </tr>
                    {% endfor %}
                	</table>
                </div>
                </form>
                <hr />
               	<form method='POST' action="{% url 'tracker:export_todo_xls' %}" enctype='multipart/form-data'>
	            {% csrf_token %}
	            <input type='submit' value='Export' style="background:#034f84;color:white;"/>
	            </form>
                {% endif %}
            </ul>
            <br />
        </div>
    </div>
</main>
{% endblock %}